.nav-item {
  cursor: pointer;
}
.version {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: #737373;
}
.auth {
  img {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    margin-right: 10px;
  }
  .name {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    .prefix {
      font-size: 12px;
      color: #777777;
    }
  }
}
.navbar {
  font-family: 'Roboto', sans-serif;
}
.lang {
  cursor: pointer;
}
