<nav class="navbar-expand-lg navbar-light">
  <div class="d-flex">
    <ul nz-menu nzMode="horizontal" class=" flex-grow-1">
      <li nz-menu-item routerLink="/students" routerLinkActive="ant-menu-item-selected">
        <a class="nav-link">{{'HEADER.STUDENTS' | translate}}</a>
      </li>
      <li nz-menu-item routerLink="/groups" routerLinkActive="ant-menu-item-selected">
        <a class="nav-link">{{'HEADER.GROUPS' | translate}}</a>
      </li>
      <li
        nz-menu-item
        routerLink="/users"
        routerLinkActive="ant-menu-item-selected"
        *hrdPrivilege="3"
      >
        <a class="nav-link">{{'HEADER.USERS' | translate}}</a>
      </li>
      <li
        nz-menu-item
        routerLink="/add-student"
        routerLinkActive="ant-menu-item-selected"
        *hrdPrivilege="2"
      >
        <a class="nav-link">{{'HEADER.CREATE_STUDENT' | translate}}</a>
      </li>
      <li
        nz-menu-item
        routerLink="/dictionaries"
        routerLinkActive="ant-menu-item-selected"
        *hrdPrivilege="3"
      >
        <a class="nav-link">{{'HEADER.DICTIONARIES' | translate}}</a>
      </li>
    </ul>
    <div class="d-flex my-2 my-lg-0 auth mr-2" *ngIf="auth.user">
      <div class="version" *ngIf="isDevMode()">
        <nz-select [(ngModel)]="auth.prev">
          <nz-option [nzValue]="0" nzLabel="0">0</nz-option>
          <nz-option [nzValue]="1" nzLabel="1">1</nz-option>
          <nz-option [nzValue]="2" nzLabel="2">2</nz-option>
          <nz-option [nzValue]="3" nzLabel="3">3</nz-option>
          <nz-option [nzValue]="4" nzLabel="4">4</nz-option>
          <nz-option [nzValue]="5" nzLabel="5">5</nz-option>
        </nz-select>
      </div>
      <div class="version">{{version}}</div>
      <img class="lang" [src]="'/assets/images/flags/' +  translate.currentLang + '.gif'" (click)="changeLang()"/>

      <div class="name" routerLink="/user" routerLinkActive="ant-menu-item-selected">
        {{ auth.user.fullName }}
        <span class="prefix">{{ getStringLvl(auth.user.privilege) | translate}}</span>
      </div>
      <button nz-button nzShape="circle"
              (click)="auth.logOut()"
      >
        <i nz-icon nzType="logout" nzTheme="outline"></i>
      </button>
    </div>
  </div>
</nav>
