<nav class="navbar-expand-lg navbar-light">
  <div class="d-flex">
    <ul nz-menu nzMode="horizontal" class=" flex-grow-1">
      <li nz-menu-item routerLink="/students" routerLinkActive="ant-menu-item-selected">
        <a class="nav-link">{{'HEADER.STUDENTS' | translate}}</a>
      </li>
      <li nz-menu-item routerLink="/groups" routerLinkActive="ant-menu-item-selected">
        <a class="nav-link">{{'HEADER.GROUPS' | translate}}</a>
      </li>
      <li
        nz-menu-item
        routerLink="/users"
        routerLinkActive="ant-menu-item-selected"
        *ngIf="auth.checkPrivilege(3)"
      >
        <a class="nav-link">{{'HEADER.USERS' | translate}}</a>
      </li>
      <li
        nz-menu-item
        routerLink="/add-student"
        routerLinkActive="ant-menu-item-selected"
        *ngIf="auth.checkPrivilege(2)"
      >
        <a class="nav-link">{{'HEADER.CREATE_STUDENT' | translate}}</a>
      </li>
      <li
        nz-menu-item
        routerLink="/dictionaries"
        routerLinkActive="ant-menu-item-selected"
        *ngIf="auth.checkPrivilege(3)"
      >
        <a class="nav-link">{{'HEADER.DICTIONARIES' | translate}}</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0 align-item-center" *ngIf="!auth.user">
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        (click)="auth.logIn()"
      >
        {{'HEADER.LOGIN' | translate}}
      </button>
    </div>
    <div class="d-flex my-2 my-lg-0 auth mr-2" *ngIf="auth.user">
      <div class="version" >{{version}}</div>
      <img class="lang" [src]="'/assets/images/flags/' +  translate.currentLang + '.gif'" (click)="changeLang()"/>
      <img [src]="auth.user.photoUrl" alt="" />
      <div class="name">
        {{ auth.user.name }}
        <span class="prefix">{{ getStringLvl(auth.privilege) | translate}}</span>
      </div>
      <button nz-button nzShape="circle"
        (click)="auth.logOut()"
      >
        <i nz-icon nzType="logout" nzTheme="outline"></i>
      </button>
    </div>
  </div>
</nav>
