<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLink="/students" routerLinkActive="active">
        <a class="nav-link">{{'HEADER.STUDENTS' | translate}}</a>
      </li>
      <li class="nav-item" routerLink="/groups" routerLinkActive="active">
        <a class="nav-link">{{'HEADER.GROUPS' | translate}}</a>
      </li>
      <li
        class="nav-item"
        routerLink="/users"
        routerLinkActive="active"
        *ngIf="auth.checkPrivilege(3)"
      >
        <a class="nav-link">{{'HEADER.USERS' | translate}}</a>
      </li>
      <li
        class="nav-item"
        routerLink="/add-student"
        routerLinkActive="active"
        *ngIf="auth.checkPrivilege(2)"
      >
        <a class="nav-link">{{'HEADER.CREATE_STUDENT' | translate}}</a>
      </li>
      <li
        class="nav-item"
        routerLink="/dictionaries"
        routerLinkActive="active"
        *ngIf="auth.checkPrivilege(3)"
      >
        <a class="nav-link">{{'HEADER.DICTIONARIES' | translate}}</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0" *ngIf="!auth.user">
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        (click)="auth.logIn()"
      >
        {{'HEADER.LOGIN' | translate}}
      </button>
    </div>
    <div class="form-inline my-2 my-lg-0 auth" *ngIf="auth.user">
      <img class="lang" [src]="'/assets/images/flags/' +  translate.currentLang + '.gif'" (click)="changeLang()"/>
      <img [src]="auth.user.image" alt="" />
      <div class="name">
        {{ auth.user.name }}
        <span class="prefix">{{ getStringLvl(auth.privilege) | translate}}</span>
      </div>
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        (click)="auth.logOut()"
      >
        {{'HEADER.EXIT' | translate}}
      </button>
    </div>
  </div>
</nav>
