<input
  type="text"
  pInputText
  class="search w-100"
  placeholder="Фильтр"
  [(ngModel)]="sort"
/>
<div class="list-group" *ngIf="this.students.groups">
  <div
    class="list-group-item list-group-item-action d-flex justify-content-between"
    [routerLink]="['/group', group.group]"
    *ngFor="let group of groups"
  >
    <div class="group font-weight-bold">
      {{ group.group }} ({{ group.docs.length }} студ.)
    </div>
    <div class="arrow"><i class="fas fa-arrow-right"></i></div>
  </div>
</div>
