<div *ngIf="student">
  <hrd-all-fields [config]="students_fields"
                  [schematic]="students_schematic" [alternateEdit]="true"
                  #allFieldsComponent [ngModel]="studentInfo" (ngModelChange)="changeField($event)"></hrd-all-fields>
  <div class="mb-4"></div>
  <hrd-static-table
    [items]="student.classmates"
    saveStorageName="userFields"
    [tableService]="service"
    [columns]="students_fields"
  ></hrd-static-table>
  <div class="mt-4 mb-4" *ngIf="auth.checkPrivilege(3)">
    <hrd-student-logs [logs]="student.history"></hrd-student-logs>
  </div>
</div>

<div *ngIf="error" class="m-4">{{ error }}</div>
