/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/media";
// @import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/utilities';
@import url('assets/roboto/roboto.css');

@import "~@fortawesome/fontawesome-free/css/all.min.css";

.ui-multiselect-item {
  display: flex !important;
}

*:focus {
  outline: none;
}

.disable-ant-form-item-children-icon {
  .ant-form-item-children-icon {
    display: none;
  }
}

.ant-collapse-header {
  padding: 10px 15px;
  cursor: pointer;

  .ant-collapse-arrow {
    padding-right: 5px;
  }
}

.alternate-disabled-field {
  .ant-input-disabled, .ant-input-number-disabled {
    color: rgba(0, 0, 0, 0.6) !important;
    background-color: rgba(245, 245, 245, 0.50) !important;
  }

  .ant-select-disabled {
    color: rgba(0, 0, 0, 0.6) !important;

    .ant-select-selection {
      background-color: rgba(245, 245, 245, 0.50) !important;
    }
  }

}
