<div *ngIf="group">
  <div class="group-name d-flex align-items-center">
    <h2 class="ml-2">{{'FIELD_LABELS.group' | translate}} {{ group.group }} <span
      *ngIf="route.snapshot.params['year'] !== 'null'">({{route.snapshot.params['year']}})</span></h2>
    <div class="func ml-3" *ngIf="auth.checkPrivilege(2)">
      <button
        nz-button
        type="button"
        class="ui-button-raised ui-button-rounded"
        (click)="openModalEdit(group_field)"
      >{{'CONST.RENAME' | translate}}</button>
    </div>
    <div class="func ml-3" *ngIf="auth.checkPrivilege(1)">
      <button
        nz-button
        type="button"
        class="ui-button-raised ui-button-rounded"
        (click)="exportGroupList()"
      >{{'EXPORT.GROUP_LIST' | translate}}</button>
    </div>
    <nz-dropdown *ngIf="auth.checkPrivilege(2)" class="ml-3">
      <a nz-dropdown> {{'CONST.EDIT' | translate}} <i nz-icon type="down"></i> </a>
      <ul nz-menu nzSelectable>
        <li nz-menu-item *ngFor="let st_filed of student_fields">
          <a (click)="openModalEdit(st_filed)"
          >{{'FIELD_LABELS.' + st_filed.field | translate}}</a>
        </li>
      </ul>
    </nz-dropdown>
  </div>
  <hrd-static-table
    [items]="group.students"
    saveStorageName="groupStudentsFields"
    [columns]="students_fields"
    [tableService]="student"
  ></hrd-static-table>
  <nz-modal [(nzVisible)]="isChangeModalVisible" [nzOkLoading]="isLoadingButton"
            (nzOnOk)="saveModalEdit()" (nzOnCancel)="closeModalEdit();"
            [nzOkText]="'CONST.APPLY' | translate" [nzCancelText]="'CONST.CANCEL' | translate"
            [nzTitle]="'CONST.EDIT' | translate " [nzCancelDisabled]="isLoadingButton"
            [nzClosable]="!isLoadingButton" [nzMaskClosable]="!isLoadingButton">
    <div class="modal-body">
      <hrd-universal-field *ngIf="selectedFormControl" [config]="selectedField"
                          [formControl]="selectedFormControl"></hrd-universal-field>
    </div>
  </nz-modal>
</div>
