<hrd-all-fields [schematic]="students_schematic" [config]="students_fields" #allFields>
</hrd-all-fields>
<div class="ui-g-12 d-flex justify-content-end">
  <i
    class="fas fa-sync-alt fa-spin d-flex justify-content-center align-items-center"
    *ngIf="process"
  ></i>
  <button
    nz-button
    [disabled]="allFields.formGroup.invalid || process"
    class="ml-2"
    (click)="save()"
  >{{'CONST.CREATE' | translate}}</button>
  <button
    nz-button
    [disabled]="allFields.formGroup.invalid || process"
    class="ml-2"
    nzType="primary"
    (click)="saveAndOpen()"
  >{{'CONST.CREATE_AND_OPEN' | translate}}</button>
</div>

