<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'MODALS.RESET_PASSWORD.HEADER' | translate"
          [nzOkDisabled]="formGroup?.invalid"
          (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <form nz-form [formGroup]="formGroup" *ngIf="formGroup">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="userErrorTpl" nzHasFeedback>
        <nz-input-group [nzAddOnBefore]="'MODALS.RESET_PASSWORD.PASSWORD' | translate">
          <input nz-input id="password" type="password"
                 [placeholder]="'MODALS.RESET_PASSWORD.PASSWORD' | translate"
                 formControlName="password"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="userErrorTpl" nzHasFeedback>
        <nz-input-group [nzAddOnBefore]="'MODALS.RESET_PASSWORD.PASSWORD_REPEAT' | translate">
          <input nz-input id="confirmPassword" [placeholder]="'MODALS.RESET_PASSWORD.PASSWORD_REPEAT' | translate"
                 formControlName="confirmPassword" type="password"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<ng-template #userErrorTpl let-control>
  <ng-container *ngIf="control.hasError('required')">
    {{'VALIDATORS.REQUIRED' | translate}}
  </ng-container>
  <ng-container *ngIf="control.hasError('minlength') && control.errors.minlength as minlength">
    {{'VALIDATORS.MIN_LENGTH' | translate: minlength}}
  </ng-container>
  <ng-container *ngIf="control.hasError('repeatFailed')">
    {{'VALIDATORS.REPEAT_FAILED' | translate}}
  </ng-container>
</ng-template>

