<div *ngIf="student">
  <div class="info">
    <table>
      <ng-container *ngFor="let field of students_fields">
        <tr class="infofiled">
          <td class="namefield">
            {{ 'FIELD_LABELS.' + field.field | translate }}:
          </td>
          <td class="valuefield">
            {{
            student.student[field.field]
              | stringify: field:('CONST.NOT_SPECIFIED' | translate)
            }}
          </td>
          <td class="edit" *ngIf="this.auth.checkPrivilege(2)">
            <i class="fas fa-pen" (click)="showModal(editModal, field)"></i>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
  <hrd-static-table
    [items]="student.classmates"
    saveStorageName="userFields"
    [tableService]="service"
    [columns]="students_fields"
  ></hrd-static-table>
</div>

<div *ngIf="error" class="m-4">{{ error }}</div>

<ng-template #editModal>
  <ng-container [ngSwitch]="modalField.type">
    <div class="modal-header">{{ 'CONST.EDIT' | translate }}</div>
    <div
      class="d-flex flex-column content modal-body"
      [formGroup]="formGroupModal"
    >
      <label [for]="modalField.field">{{
        'FIELD_LABELS.' + modalField.field | translate
        }}</label>
      <p-calendar
        [showIcon]="true"
        class="flex-grow-1"
        [id]="modalField.field"
        [formControlName]="modalField.field"
        [placeholder]="'FIELD_LABELS.' + modalField.field | translate"
        *ngSwitchCase="'date'"
      ></p-calendar>
      <p-dropdown
        [options]="dictionaryService.getDictionarySelect(modalField.options)"
        *ngSwitchCase="'select'"
        [formControlName]="modalField.field"
        [id]="modalField.field"
        [placeholder]="'FIELD_LABELS.' + modalField.field | translate"
      >
      </p-dropdown>
      <input
        pInputText
        type="text"
        [id]="modalField.field"
        [placeholder]="'FIELD_LABELS.' + modalField.field | translate"
        [formControlName]="modalField.field"
        *ngSwitchDefault
      />
    </div>
    <div class="modal-footer">
      <button class="btn-outline-warning btn" (click)="modalRef.hide()">
        {{ 'CONST.CANCEL' | translate }}
      </button>
      <button
        class="btn btn-primary"
        (click)="changeField()"
        [disabled]="
          student.student[modalField.field] ===
            formGroupModal.controls[modalField.field].value ||
          formGroupModal.controls[modalField.field].value == null
        "
      >
        {{ 'CONST.APPLY' | translate }}
      </button>
    </div>
  </ng-container>
</ng-template>
