<ng-container *ngIf="items && columns && dictionaryService.notEmpty()">
  <p-contextMenu #cm [model]="itemsMenu"></p-contextMenu>
  <p-table
    #dt1
    [columns]="selectedColumns"
    [value]="items"
    [contextMenu]="cm"
    [resetPageOnSort]="true"
    [(contextMenuSelection)]="selected"
  >
    <ng-template pTemplate="caption">
      <div style="text-align:left">
        <p-multiSelect
          [options]="columns"
          [(ngModel)]="selectedColumns"
          optionLabel="field"
          [style]="{ minWidth: '200px' }"
          [defaultLabel]="'TABLE_PARAMS.select_cols' | translate"
        >
          <ng-template let-cols pTemplate="selectedItems">
            <span
            >{{ (cols ? cols.length : 0) + ' ' + ('TABLE_PARAMS.cols' | translate) }}
            </span></ng-template
          >
          <ng-template let-col let-i="index" pTemplate="item">
            <div
              style="float:right; display: flex; align-items: center; justify-content: center; width: auto"
            >
              {{ 'FIELD_LABELS.' + col.label | translate }}
            </div>
          </ng-template>
        </p-multiSelect
        >
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th
          *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          pResizableColumn
          pReorderableColumn
        >
          {{ 'FIELD_LABELS.' + col.field | translate }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.type" class="ui-fluid">
          <p-calendar
            (onSelect)="dt1.filter(filterDate($event), col.field, 'contains')"
            (onClearClick)="dt1.filter('', col.field, 'contains')"
            [showIcon]="true"
            [placeholder]="'FIELD_LABELS.' + col.field | translate"
            *ngSwitchCase="'date'"
            [showButtonBar]="true"
          ></p-calendar>
          <p-dropdown
            (onChange)=" dt1.filter($event.value, col.field, 'contains')"
            [options]="dictionaryService.getDictionarySelect(col.options)"
            *ngSwitchCase="'select'"
            [placeholder]="'FIELD_LABELS.' + col.field | translate"
            [showClear]="true"
          >
          </p-dropdown>
          <input
            (input)="dt1.filter($event.target['value'], col.field, 'contains')"
            pInputText
            type="text"
            [id]="col.field"
            [placeholder]="'FIELD_LABELS.' + col.field | translate"
            *ngSwitchDefault
          />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pContextMenuRow]="rowData">
        <td *ngFor="let col of columns">
        <div>{{ rowData[col.field] | stringify: col: ('CONST.NOT_SPECIFIED' | translate) }}</div>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
