<div *ngIf="group">
  <div class="group-name d-flex align-items-center">
    <h2 class="ml-2">{{'FIELD_LABELS.group' | translate}} {{ group.group }}</h2>
    <div class="func ml-3" *ngIf="auth.checkPrivilege(2)">
     <button
        pButton
        type="button"
        class="ui-button-raised ui-button-rounded"
        [label]="'CONST.RENAME' | translate "
        (click)="openModal(renameModal)"
        ></button>
    </div>
  </div>
  <hrd-static-table
    [items]="group.students"
    saveStorageName="groupStudentsFields"
    [columns]="students_fields"
    [tableService]="student"
  ></hrd-static-table>
  <ng-template #renameModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{'CONST.NAME' | translate}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="renameModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input
        pInputText
        type="text"
        class="w-100"
        [value]="group.group"
        [placeholder]="'CONST.NAME' | translate"
        #nameField
      />
    </div>
    <div class="modal-footer">
      <button class="btn-outline-warning btn" (click)="renameModalRef.hide()">
        {{ 'CONST.CANCEL' | translate }}
      </button>
      <button
        class="btn btn-primary"
        (click)="saveName(nameField.value)"
      >
        {{ 'CONST.APPLY' | translate }}
      </button>
    </div>
  </ng-template>
</div>
