.list-group-item {
  border-radius: 0;
  font-size: 18px;
  cursor: pointer;

  .group {
    transition: margin;
    transition-duration: 500ms;
  }

  &:hover {
    background: #007bff;
    color: #fff !important;

    .arrow {
      display: block;
    }

    .group {
      margin-left: 10px;
    }
  }

  .arrow {
    display: none;
  }
}

.years {
  .year {
    font-size: 20px;
    padding: 10px 20px;
    font-weight: bold;
    border-bottom: 1px solid #696969;
    border-top: 1px solid #696969;
  }

  &:first-child {
    .year {
      border-top: none;
    }
  }
}

.search {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
